<?php

$finder = PhpCsFixer\Finder::create()
    ->in(realpath(__DIR__ . '/src'))
    ->in(realpath(__DIR__ . '/tests'))
;

return PhpCsFixer\Config::create()
    ->setRiskyAllowed(true)
    ->setRules([

        //--------------------------------------------------------------
        //  Rulesets
        //--------------------------------------------------------------

        '@PSR1'                     => true,
        '@PSR2'                     => true,
        '@Symfony'                  => true,
        '@Symfony:risky'            => true,
        '@DoctrineAnnotation'       => true,
        '@PHP56Migration'           => true,
        '@PHP70Migration'           => true,
        '@PHP71Migration'           => true,
        '@PHPUnit60Migration:risky' => true,

        //--------------------------------------------------------------
        //  Rules override
        //--------------------------------------------------------------

        'binary_operator_spaces'           => ['default' => 'align'],
        'braces'                           => false,
        'concat_space'                     => ['spacing' => 'one'],
        'doctrine_annotation_indentation'  => false,
        'no_extra_consecutive_blank_lines' => true,
        'phpdoc_annotation_without_dot'    => false,
        'phpdoc_no_alias_tag'              => ['replacements' => ['link' => 'see', 'type' => 'var']],
        'phpdoc_to_comment'                => false,
        'protected_to_private'             => false,
        'yoda_style'                       => false,

        //--------------------------------------------------------------
        //  Extra rules
        //--------------------------------------------------------------

        'align_multiline_comment'                   => true,
        'array_syntax'                              => ['syntax' => 'short'],
        'class_keyword_remove'                      => false,
        'combine_consecutive_issets'                => true,
        'combine_consecutive_unsets'                => true,
        'compact_nullable_typehint'                 => true,
        'escape_implicit_backslashes'               => [
            'double_quoted'  => true,
            'heredoc_syntax' => true,
            'single_quoted'  => false,
        ],
        'explicit_indirect_variable'                => true,
        'explicit_string_variable'                  => true,
        'final_internal_class'                      => [
            'annotation-black-list' => ['@final', '@Entity', '@ORM'],
            'annotation-white-list' => ['@internal'],
        ],
        'heredoc_to_nowdoc'                         => true,
        'linebreak_after_opening_tag'               => true,
        'list_syntax'                               => ['syntax' => 'short'],
        'mb_str_functions'                          => true,
        'method_chaining_indentation'               => true,
        'native_function_invocation'                => false,
        'no_blank_lines_before_namespace'           => false,
        'no_multiline_whitespace_before_semicolons' => true,
        'no_null_property_initialization'           => true,
        'no_php4_constructor'                       => true,
        'no_short_echo_tag'                         => false,
        'no_superfluous_elseif'                     => true,
        'no_unreachable_default_argument_value'     => true,
        'no_useless_else'                           => true,
        'no_useless_return'                         => true,
        'not_operator_with_space'                   => false,
        'not_operator_with_successor_space'         => false,
        'ordered_class_elements'                    => true,
        'ordered_imports'                           => true,
        'php_unit_strict'                           => true,
        'php_unit_test_annotation'                  => ['case' => 'camel', 'style' => 'prefix'],
        'php_unit_test_class_requires_covers'       => false,
        'phpdoc_add_missing_param_annotation'       => ['only_untyped' => false],
        'phpdoc_order'                              => true,
        'phpdoc_types_order'                        => true,
        'simplified_null_return'                    => false,
        'static_lambda'                             => false,
        'strict_comparison'                         => true,
        'strict_param'                              => true,
    ])
    ->setFinder($finder)
;
